.basket {
  color: #fff;
  width: 50px;
  height: 21px;
  position: absolute;
  right: 0;
}

.number {
  position: absolute;
  font-size: 11px;
  line-height: 16px;
  width: 16px;
  height: 16px;
  display: block;
  top: 24px;
  right: 5px;
  border-radius: 60px;
  background: red;
  color: #fff;
}
