@import '../shared/vars.css';
.home {
  //overflow: hidden !important;
  margin-bottom: 0 !important;
  height: calc(100vh - $menuHeight - $menuHeight - $contentAreaMarginTop) !important;
  .extraDetails {
    position: fixed;
    bottom: 4vh;
    display: block;
    width: 88vw;
    & > a {
      border-bottom: 1px solid #FFF;
      float: left;
    }
    .extraDetailsRight {
      float: right;
      display: block;
    }
  }
}

.loading {
  position: absolute;
  z-index: 15;
  height: 100%;
  width: 100%;
  background: #fff;
}

.calenderContainer {
  height: 0;
}
